.sidebarContainer {
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--color-ligth-green);
    width: 40%;
    max-width: 350px;
    border-right: 1px solid var(--color-light-border);
}

.chats {
    overflow-y: auto;
    flex: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chats::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chats {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fallbackText {
    color: black;
    text-align: center;
}