.editWrapper {
    min-width: 300px;
    padding: 30px 20px;
}

.editPhotoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;;
    
}

.actionPicButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.actionPicButtons button,
.actionBtn button,
.customFileUpload {
    cursor: pointer;
    width: 70px;
    border: 1px solid var(--color-light-gray-border);
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    font-family: inherit;
    transition: background-color 0.3s;
}

.actionPicButtons button:hover,
.customFileUpload:hover {
    border: 1px solid white;
    background-color: var(--color-light-gray-border);
}

.line {
    width: 100%;
    border-top: 1.3px solid var(--color-light-gray-border);
    margin-bottom: 20px;
}

.inputField {
    display: block;
    margin-bottom: 15px;
    position: relative;
}

.inputField label {
    font-size: 14px;
}

.inputField input {
    display: block;
    padding: 2px 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-light-gray-border);
    font: inherit;
}

.inputField input.invalid {
    border: 1px solid rgb(168, 67, 67);
}

.actionBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.actionBtn button:hover {
    border: 1px solid white;
    background-color: var(--color-dark-green);
    color: white;
}

.hint {
    cursor: pointer;
    font-size: 13px;

}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid var(--color-light-gray-border);
    border-radius: 3px;
    font-size: 10px;
    padding: 5px;
    top: 0;
    left: 120px;
    line-height: 100%;
}

/* .customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
} */

/* .customFileUpload:hover {
    background-color: #e0e0e0;
  } */