* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-ligth-green: #f0f5f6;
    --color-light-border: #e8f2f3;
    --color-white: #fdfdfd;
    --color-light-orange: #db6c4b;
    --color-dark-green: #527072;
    --color-light-gray: #7c7979;
    --color-light-gray-border: #7c797958;
    --color-selected-green: #95bbb74f;
    --color-online-status: #65ac65;
    --color-error: #a84343;
  }
  
  body {
    margin: 0;
  }
  
  ul {
    list-style: none;
  }