.chatInfoWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 5px;
    width: 100%;
    color: black;
}

.chatInfoWrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    object-fit: cover;
    object-position: 50% 50%;
}

.chatInfoWrapper {
    background-color: var(--color-ligth-green);
    transition: background-color 0.2s;
}
