.messageWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 5px;
    width: 90%;
    color: black;
    margin: 0 auto;
}

.messageWrapper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid var(--color-light-border);
    object-fit: cover;
    object-position: 50% 50%;;
}

.messageInfo {
    display: flex;
    flex-direction: column;
}

/* .name {

} */

.message {
    background-color: var(--color-ligth-green);
    padding: 8px 20px;
    border-radius: 12px;
    border-top-left-radius: 0;
    max-width: 400px;
    overflow-wrap: anywhere;
    word-break: break-all;
    line-height: 150%;
}

.messageWrapper.sender {
    flex-direction: row-reverse;
}

.messageWrapper.sender .messageInfo {
   align-items: end;
}

.messageWrapper.sender .message {
    background-color: var(--color-selected-green);
    border-radius: 10px;
    border-top-right-radius: 0;
}

.wrapperNameDate {
    display: flex;
    gap: 8px;
}

.messageWrapper.sender .wrapperNameDate {
    flex-direction: row-reverse;
}

.time {
    font-size: 9px;
    color: var(--color-light-gray);
}
